@import "colors";
@import "../node_modules/foundation-sites/scss/foundation.scss";


.blok-logo{
    display: grid;
    text-align: center;

    .title-blok-logo{
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
    }

    li{
        display: inline;
        width: 375px;
        @include breakpoint(medium){
         width: 256px;
        }
        @include breakpoint(large){
            width: 360  px;
           }
    }
}



