$main: (
  default: #323264,
  alt: #46466E,
  soft: #686887,
  whitem: #fff
);

$accent: (
  default: #F0145A
);

$active: (
  default: #24A3FF,
  hover: #0085FF,
  active: #006CCF
);

$grey: (
  background: #F5F5FA,
  background-alt: #EDEDF7,
  text: #B3B3BA,
  separator: #E6E6F0,
);

$gradient: (
  default: linear-gradient(128.63deg, map-get($main, default) 0%, map-get($main, default) 73.96%, #A54B5F 100%),
  soft: linear-gradient(42.01deg, map-get($main, default) 14.33%, map-get($main, default) 51.39%, #7A425E 87.53%),
  red: linear-gradient(323.35deg, #F0145A 6.7%, #693264 70.36%),
  super-soft: linear-gradient(228.57deg, map-get($main, default) 11.93%, map-get($main, default) 57.17%, #643E72 87.46%),
  red-text: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%),
)
