@import "colors";
@import "../node_modules/foundation-sites/scss/foundation.scss";


.team-page{
    display: grid;
    justify-content: center;
}

.team-page-title{
font-weight: 700;
font-size: 38px;
max-width: 315px;
text-align: left;
}

li{
    list-style: none;
    max-width: 315px;
}