@import "colors";

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('woff2-variations');
  font-weight: 100 950;
  font-stretch: 75% 125%;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf') format('woff2-variations');
  font-weight: 100 950;
  font-stretch: 75% 125%;
  font-style: italic;
}

h1, .h1 {
  background: map-get($gradient, red-text);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

::marker {
  color: map-get($accent, default);
  font-weight: bold;
}
