<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blok logo</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <div class="blok-logo">
        <h3 class="title-blok-logo">They already trust us</h3>
        <ul>
            <li class="hillel" >
                <img src="../image/services-page/hillel.svg" alt="hillel">
            </li>
            <li class="wanna-biz">
                <img src="../image/services-page/wanna-biz.svg" alt="wanna biz">
            </li>
            <li class="tapgerine">
                <img src="../image/services-page/tapgerine.svg" alt="tapgerine">
            </li>
            <li class="three-d-look">
                <img src="../image/services-page/3d-look.svg" alt="3d look">
            </li>
            <li class="orangear">
                <img src="../image/services-page/orangear.svg" alt="orangear">
            </li>
            <li class="adtelligent">
                <img src="../image/services-page/adtelligent.svg" alt="adtelligent">
            </li>
            <li class="clickky">
                <img src="../image/services-page/clickky.svg" alt="clickky" class="hide-for-small-only">
            </li>
            <li class="eco-leasing">
                <img src="../image/services-page/eco-leasing.svg" alt="eco leasing" class="hide-for-small-only">
            </li>
            <li class="infra-tek">
                <img src="../image/services-page/infra-tek.svg" alt="infra tek" class="hide-for-small-only">
            </li>
            <li class="city-park">
                <img src="../image/services-page/city-park.svg" alt="city park" class="hide-for-small-only">
            </li>
            <li class="art-print-studio">
                <img src="../image/services-page/art-print-studio.svg" alt="art print studio" class="hide-for-small-only">
            </li>
            <li class="ultimate-card">
                <img src="../image/services-page/ultimate-card.svg" alt="ultimate card" class="hide-for-small-only">
            </li>
        </ul>
    </div>
    
</body>
</html>