<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blok logo</title>
</head>
<body>
    <ul>
        <li>
            <img src="../image/services-page/hillel.png" alt="hillel">
        </li>
        <li>
            <img src="../image/services-page/wanna-biz.png" alt="wanna biz">
        </li>
        <li>
            <img src="../image/services-page/tapgerine.png" alt="tapgerine">
        </li>
        <li>
            <img src="../image/services-page/3d-look.png" alt="3d look">
        </li>
        <li>
            <img src="../image/services-page/orangear.png" alt="orangear">
        </li>
        <li>
            <img src="../image/services-page/adtelligent.png" alt="adtelligent">
        </li>
        <li>
            <img src="../image/services-page/clickky.png" alt="clickky">
        </li>
        <li>
            <img src="../image/services-page/eco-leasing.png" alt="eco leasing">
        </li>
        <li>
            <img src="../image/services-page/infra-tek.png" alt="infra tek">
        </li>
        <li>
            <img src="../image/services-page/city-par.png" alt="city par">
        </li>
        <li>
            <img src="../image/services-page/art-print-studio.png" alt="art print studio">
        </li>
        <li>
            <img src="../image/services-page/ultimate--card.png" alt="ultimate card">
        </li>
    </ul>
</body>
</html>