<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blok logo</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <ul>
        <li class="hillel">
            <img src="../image/services-page/hillel.png" alt="hillel">
        </li>
        <li class="wanna-biz">
            <img src="../image/services-page/wanna-biz.png" alt="wanna biz">
        </li>
        <li class="tapgerine">
            <img src="../image/services-page/tapgerine.png" alt="tapgerine">
        </li>
        <li class="three-d-look">
            <img src="../image/services-page/3d-look.png" alt="3d look">
        </li>
        <li class="orangear">
            <img src="../image/services-page/orangear.png" alt="orangear">
        </li>
        <li class="adtelligent">
            <img src="../image/services-page/adtelligent.png" alt="adtelligent">
        </li>
        <li class="clickky">
            <img src="../image/services-page/clickky.png" alt="clickky">
        </li>
        <li class="eco-leasing">
            <img src="../image/services-page/eco-leasing.png" alt="eco leasing">
        </li>
        <li class="infra-tek">
            <img src="../image/services-page/infra-tek.png" alt="infra tek">
        </li>
        <li class="city-park">
            <img src="../image/services-page/city-park.png" alt="city park">
        </li>
        <li class="art-print-studio">
            <img src="../image/services-page/art-print-studio.png" alt="art print studio">
        </li>
        <li class="ultimate-card">
            <img src="../image/services-page/ultimate-card.png" alt="ultimate card">
        </li>
    </ul>
</body>
</html>