<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <title>Contact form popup</title>
    <link rel="stylesheet" href="../styles/style.css">
    <script src="https://kit.fontawesome.com/9136705dab.js" crossorigin="anonymous"></script>
</head>
<body>

<div class="send-message-form">
    <form>
        <h1>We would like to help you</h1>
        <input type="text" name="name" placeholder="Name" />
        <textarea rows="3" placeholder="message"></textarea>
        <h3>How to answer you?</h3>
        <input type="tel" name="phone" placeholder="Phone number">
        <input type="email" name="email" placeholder="Email">
        <button type="button" class="button expanded">Send message</button>
    </form>
</div>

</body>
</html>

</body>
</html>