<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <script src="https://kit.fontawesome.com/9136705dab.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>      
    <div class="footer">
       <div class="footer-top">
        <p class="footer-address">Kyiv, Mechnikova str., 14/1</p>
        <a href="https://www.google.com/maps/place/%D0%9A%D0%BE%D0%BC%D0%BF'%D1%8E%D1%82%D0%B5%D1%80%D0%BD%D0%B0+%D1%88%D0%BA%D0%BE%D0%BB%D0%B0+Hillel/@50.4369347,30.5332405,19.96z/data=!4m5!3m4!1s0x40d4cf07295b8e39:0x41f43bbd96473152!8m2!3d50.4370844!4d30.5328167" class="footer-map footer-top-item">ON MAP</a>
       </div>
       <div class="footer-contact">
        <a href="https://facebook.com" class="footer-facebook-icon"><i class="fa-brands fa-facebook"></i></a>
        <a class="footer-top-item footer-phone" href="tel:0800 211 927">0800 211 927</a>
        <a href="mailto:contact@forstudy.space" class="footer-mail footer-top-item">contact@forstudy.space</a>
      </div>
      <div class="footer-copyright">
        <p>&#169 2021 HLEGAL Law company, LLC</p>
      </div>
    </div>
</body>
</html>