<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Navigation menu</title>
</head>
<body>
    <div class="header-nav text-right medium-text-left header-reducer">
        <div class="hamburger">
            <input type="checkbox" id="menu" />
            <div class="show-for-small-only">
                <label class="header-menu-container" for="menu">
                    <div class="header-menu"></div>
                </label>
            </div>
            <label class="header-submenu show-for-medium hide-for-small-only" for="menu">
                <label class="header-close-menu show-for-small-only" for="menu">
                    <i class="fa-solid fa-xmark"></i>
                </label>
                <ul class="text-center no-bullet align-left">
                    <li><a href="#" class="active">about as</a></li>
                    <li><a href="#">послуги</a></li>
                    <li><a href="#">команда</a></li>
                    <li><a href="#">публікації</a></li>
                    <li><a href="#">контакти</a></li>
                </ul>
            </label>
        </div>
    </div>
</body>
</html>
