<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Publications</title>
</head>
<body>
    <h3>Publications</h3>
    <h1>Recommended</h1>
    <ul>
        <li>
            <img src="" alt="">
            <h4>Equity associate</h4>
            <p>April 22</p>
            <p>I'm a jun on projects. I am a co-owner of a law firm. How it happened. Before entering my parents told me that if I…</p>
        </li>
        <li>
            <img src="" alt="">
            <h4>Penalty for the Good Corporation: what will happen to Google and others for violating the GDPR</h4>
            <p>September 29</p>
            <p>And why the recovery of 50 million euros could be a fateful precedent According to Mind.ua January 21 National Commission for Data Protection.</p>
        </li>
        <li>
            <img src="" alt="">
            <h4>Millennial Testament</h4>
            <p>August 19</p>
            <p>What and how modern vloggers, opinion leaders and crypto-millionaires will inherit A typical legacy of the Ukrainian generation X looks like this: an apartment in…</p>
        </li>
    </ul>
</body>
</html>